<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container ms-5 p-5">
    <div class="row" style= "margin-left: 100px">  
      <div class="col-8">
       <div class="texto mt-4 ms-5"> 
          <h2>The First Heading <span class="text-body-secondary">Will Catch Your Eye</span></h2> 
          <p style="font-size: large">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nesciunt dignissimos est veniam doloribus dolore amet, quaerat, quo consequatur minus harum numquam praesentium odit. Quod distinctio quis iusto quia molestiae?</p>
        </div>
      </div>
      <div class="col-4">
        <div class="Walter border rounded-circle ms-2" style = "height: 340px; width: 330px">
          <img class="rounded-circle" src="https://theheizenbergeffect.files.wordpress.com/2012/09/walter_white_breaking_bad-stanley-chow.jpg" style = "height: 100%; width: 100%">
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>