.landing-page {
    height: 100vh; 
}

.jumbotron {
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-2 {
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
